body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: rgb(58, 0, 250);
  font-family: "Oswald", sans-serif;
  font-size: 120%;
  background-image: url("https://i.ibb.co/VgY2RgL/IMG-20220219-160129-1.jpg");
  background-size: cover;
  background-position: center;
}
.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 45px;
  width: 45px;
  outline: none;
  background-color: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.search-bar {
  border: none;
  outline: none;
  padding: 0.2 em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  font-family: inherit;
  font-size: 105%;
  width: calc(100%-50px);
  color: white;
}
button:hover {
  background: #7c7c7c6b;
}

.temp {
  margin: 0;
}
.flexicon {
  display: flex;
  align-items: center;
}
.flexicon {
  margin-left: -5px;
}
.description {
  text-transform: capitalize;
}
h1.temp {
  margin: 0;
  margin-bottom: 0.5em;
}
